.navbar {
    background-color: rgba(168, 224, 252, 0.786);
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 14px 16px;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .active {
    border-bottom: 3px solid #fff;
  }

  
  